<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="'Code Talk - ' + ${document.title}">Code Talk - Doc</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-static/">

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/codemirror/lib/codemirror.css" rel="stylesheet">
    <link href="/webjars/codemirror/theme/darcula.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <style type="text/css">
        .CodeMirror { height: 100%; }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">Code Talk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/new">New Document<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-10">
            <div id="editor">
                <pre id="code" class="d-none" th:text="${document.content}">//Placeholder</pre>
            </div>
        </div>
        <div class="col-2">
            <input type="text" id="userName" value="operator" title="you - edit your name" minlength="1" maxlength="15" required />
            <ol id="userList"></ol>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

<script src="/webjars/codemirror/lib/codemirror.js"></script>
<script src="/webjars/codemirror/mode/clike/clike.js"></script>
<script src="/webjars/codemirror/mode/sql/sql.js"></script>

<script type="module">
    window.cfg = {
        wsURL: 'ws://localhost:8080/ws',
        documentId: '[[${document.id}]]', // thymeleaf magic
        defaultMode: 'text/x-java',
        saveWait: '10'
    };
</script>
<script type="module" src="/js/main.js"></script>
</body>
</html>

